<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cva_qlkh"
        tools:targetApi="31">
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StatisticActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Update.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Update.UpdateProductTypeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Update.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagementScreen.StockOutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagementScreen.BillDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Create.CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Create.CreateProductTypeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Create.CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Create.CreateBillActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SelectProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePassword_Success"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagementScreen.BillListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagementScreen.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagementScreen.ProductTypeListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManagementScreen.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>